.home
{
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(250,250,250,.8);
}
.home hr
{
    color: #fff;
    opacity: .4;
    width: 100vw;
    margin:50px auto;
}
.home .presentation
{
    
    width: 80vw;
    font-weight: 600;
}
.home .presentation .name
{    
    text-align: center;
    font-size:3.5rem;
    text-shadow: 5px 5px 0 rgba(0,0,0,.23);
    margin: 0 auto 40px auto;
}
.home .presentation .skills
{
    font-size:2.2rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.home .presentation .skills span
{
    margin-bottom:10px;
}
.home .presentation .subskills
{
    color: rgba(200,200,200,.8);
    display: flex;
    flex-direction: column;
    font-size:1.8rem;
    width: 70vw;
    margin-left: auto;
}
.home .presentation .subskills span::before
{
    content: '»';
    color:#fff;
    font-size:2rem;
}
.home .content
{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.home .content .main
{
    text-align: start;
    font-size:2rem;
    line-height: 30px;
}
.home .content .main p
{
    margin: 20px auto;
}
.content .main img
{
    display: none;
    /* width: 100%; */
}
.home .content .social-links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}
.home .content .social-links a .MuiSvgIcon-root
{
    font-size:6rem;
    margin: 10px auto;
    color: rgba(250,250,250,.8);
    transition: color .5s;
}
.home .content .social-links a .MuiSvgIcon-root:hover
{
    font-size:6.5rem;
    color: rgba(200,200,200,.6);
}






/*Animação*/
.typewriter-effect{
    text-shadow: 5px 4px 0 rgba(100,100,100,.12);
    position: relative;
    width: 0px;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
}
.anim-typewriter {
    animation: typewriter 6s steps(13) 1700ms infinite,
    blinkTextCursor 1700ms steps(13) infinite normal;
}
@keyframes typewriter {
    0% {
          width: 0px;
    }
    10% {
          width: 0px;
    }
    25% {
          width: 100%;
    }
    75% {
          width: 100%;
    }
    90% {
          width: 0px;
    }
    100% {
          width: 0px;
    }
}
@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}