*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html, body, #root{
  height: 100vh;
}
body
{
  font-family: sans-serif;
  background-color: rgba(40,40,50,1);
}
:root {
  font-size: 60%;
}
.container
{
  width: 100vw;
  max-width: 700px;
}
@media (min-width:700px)
{
  :root{
    font-size: 62%;
  }
  .container
  {
    max-width: 3000px;
  }
}
[data-animation]
{
    opacity: 0;  
    transition: .5s;
}
[data-animation="top"]
{
    transform: translate3d(0,-50px,0);
}
[data-animation="left"]
{
    transform: translate3d(-50px,0,0);
}
[data-animation].animating, [data-animation]#animating
{
    opacity: 1;
    transform: translate3d(0,0,0);
}